/* No caso, o estilo só vai sei aplicado aos filhos da classe .integracao1 */

.integracao1 .vermelho {
    color: red;
}

.azul {
    color: blue;
}

.branco {
    background-color: gray;
    color: white;
}
